<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <style>
        .widget-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .widget-container > div {
            margin: 0 10px; /* Adjust this value to control the spacing */
        }
    </style>
</head>
<body>
    <div class="center-container">
        <div class="user-details">
            <h1>My Expertise</h1>
            <p>{{site.user_description}}</p>
        </div>
        
        {{ content }}

        <!-- Container for widgets -->
        <div class="widget-container">

        <div class="user">
            <div class="tech">
                <h2>Design</h2>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-bootstrap-plain-wordmark colored"></i>
                <i class="devicon-sass-original colored"></i>
                <p>Immerse your audience in captivating visuals crafted to perfection. Our design skills transform concepts into visual narratives that resonate. Elevate your brand's presence with designs that inspire and captivate.</p>
            </div>
            <div class="tech">
                <h2>Code</h2>
                <i class="devicon-javascript-plain colored"></i>
                <i class="devicon-react-original-wordmark colored"></i>
                <i class="devicon-nodejs-plain-wordmark"></i>
                <p>Unleash the power of flawless code that fuels seamless functionality. Our coding prowess turns ideas into reality, ensuring your digital solutions are robust, responsive, and innovative. Experience technology that just works.</p>
            </div>
            <div class="tech">
                <h2>Tools</h2>
                <i class="devicon-git-plain"></i>
                <i class="devicon-gulp-plain colored"></i>
                <i class="devicon-atom-original-wordmark"></i>
                <p>From conception to execution, we wield cutting-edge tools that redefine what's achievable. Our toolset empowers us to create dynamic, efficient, and future-ready solutions. Witness the magic that emerges when innovation meets technology.</p>
            </div>
        </div>
    </div>
</body>
</html>
