<div id="particles-js">
  <video autoplay muted loop playsinline id="headerVideo">

    <source src="/assets/mp4/header.mp4" type="video/mp4">
    
    Your browser does not support the video tag.
    
    </video>    
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    
    <div class="top-text-section">
      Custom AI | Bots | Integrations | Automation
    </div>

    <div class="header-icons">
      <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Instagram" target="_blank" href="#"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      <a aria-label="My Facebook" target="_blank" href="#"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>

    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="{{ site.baseurl }}/projects.html">Projects</a>
      <a class="link" href="{{ site.baseurl }}/crypto.html">Crypto</a>
    </div>

    <nav>
      <ul></ul>
    </nav>
  </div>

  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<style>
  .top-text-section {
    text-align: center;
    font-size: 0.85em; 
    margin: 10px 0;
    font-weight: normal;
  }

  #headerVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -2;
    pointer-events: none;
  }
  
</style>


