<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/aiFace.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Media Post Automation </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Our automated bot streamlines content management across Facebook, LinkedIn, and Instagram, enabling seamless scheduling, posting, and engagement. By leveraging advanced automation, it simplifies the process of creating, scheduling, and publishing content, ensuring consistent updates across all platforms. Whether managing campaigns, monitoring analytics, or engaging with followers, our bot empowers users to optimize their social media presence effortlessly.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/car.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Vehicle Price Estimate Bot</h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Revolutionizing the way you navigate the automotive market, our AI bot is your ultimate guide to vehicle transactions. With the power to instantly provide accurate price estimates based on real-time data, you can confidently assess a vehicle's worth without the guesswork.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/library.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Company Assistant Ai </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Our Company Assistant AI enhances productivity by handling personalized conversations, booking meetings, and showcasing visual elements effortlessly. Built with customizable actions, it automates tedious tasks, allowing business owners to focus on their core passions and responsibilities. Whether managing schedules, engaging clients, or presenting visually compelling content, our AI empowers businesses to streamline operations and deliver exceptional customer experiences.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/crypto.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Crypto Bot  </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Our Crypto Bot integrates advanced trading strategies developed on TradingView, rigorously back-tested for optimal performance. Once validated, these strategies trigger alerts seamlessly integrated into our Botpress AI workflow. This AI-driven system executes and monitors trades autonomously, providing an additional layer of security and precision to cryptocurrency trading. By leveraging cutting-edge technology, our Crypto Bot empowers traders with reliable, data-driven decision-making capabilities, ensuring strategic advantage in dynamic crypto markets.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sportHost.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SportGPT
 </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Meet our SportGPT bot, your ultimate companion for sports betting intelligence. Harnessing team matchup statistics, team performance metrics, and standings data, our bot meticulously analyzes disparities to pinpoint strategic advantages between competing teams. Armed with cutting-edge predictive capabilities, our bot forecasts match outcomes with up to 100% accuracy at times during the season. Empowering you with unmatched insights, our SportGPT bot revolutionizes your betting strategy, ensuring informed decisions and maximizing parlay bet success.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
