<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Real Estate </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Navigate the world of real estate effortlessly with our innovative AI chatbot by your side. Designed to provide you with instant access to property information, personalized recommendations, and answers to your queries, our chatbot streamlines your property search journey. Whether you're buying, selling, or renting, our chatbot's deep understanding of the real estate market and its ability to learn your preferences ensures you receive tailored guidance at every step.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Vehicle Price Estimate Bot</h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Revolutionizing the way you navigate the automotive market, our AI bot is your ultimate guide to vehicle transactions. With the power to instantly provide accurate price estimates based on real-time data, you can confidently assess a vehicle's worth without the guesswork.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Ai Lawyer Assistant </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Powered by state-of-the-art technology, our AI lawyer bot understands the intricacies of legal principles and precedents, enabling it to offer timely advice that aligns with the Canadian legal landscape. Whether you're seeking clarification on contract terms, exploring potential legal strategies, or aiming to understand your rights, our AI lawyer bot is your go-to source for comprehensive, accurate, and up-to-date information.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jewlery Sales  </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Experience the next level of jewelry shopping with our AI Jewelry Bot – a virtual guide tailored to your preferences. Discover perfect pieces effortlessly, gain expert insights, and make informed choices. Whether you seek elegance or the extraordinary, let our AI Jewelry Bot redefine your jewelry shopping journey.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Elevate Your Wellness Store with Our AI Supplement Sales Bot!
 </h3>
    <ul>
      <li> Featured Bot Skills</li>
    </ul>
    <p>Introducing a game-changer for supplement websites. Our AI bot is designed to empower your customers. Seamlessly navigate your product range, get personalized recommendations, and explore the benefits of each supplement. With expert guidance and seamless interactions, our bot transforms browsing into a tailored wellness journey.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
