<!-- Fixed Widget Container -->
<div class="widget-container">
    <!-- Technical Analysis Widget -->
    <div class="tradingview-widget-container" style="width: 10%; height: 10%;">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
        {
            "interval": "30m",
            "width": "100%",
            "isTransparent": false,
            "height": "100%",
            "symbol": "KUCOIN:PEPEUSDT",
            "showIntervalTabs": false,
            "displayMode": "multiple",
            "locale": "en",
            "colorTheme": "dark"
        }
        </script>
    </div>
</div>
