<!-- TradingView Widget: Ticker Tape -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
        "symbols": [
            {"proName": "BITSTAMP:BTCUSD", "title": "Bitcoin"},
            {"proName": "BITSTAMP:ETHUSD", "title": "Ethereum"},
            {"description": "PEPE", "proName": "KUCOIN:PEPEUSDT"},
            {"description": "PEPE2", "proName": "KUCOIN:PEPE2USDT"},
            {"description": "MOG", "proName": "BITGET:MOGUSDT"},
            {"description": "BOB", "proName": "KUCOIN:BOBUSDT"},
            {"description": "BRETT", "proName": "BITGET:BRETTUSDT"},
            {"description": "DOGE", "proName": "KUCOIN:DOGEUSDT"},
            {"description": "SHIB", "proName": "KUCOIN:SHIBUSDT"},
            {"description": "FLOKI", "proName": "KUCOIN:FLOKIUSDT"},
            {"description": "TURBO", "proName": "BITGET:TURBOUSDT"}
        ],
        "showSymbolLogo": true,
        "isTransparent": false,
        "displayMode": "adaptive",
        "colorTheme": "dark",
        "locale": "en"
    }
    </script>
</div>