#particles-js {
  position: relative; // Ensure position relative for absolute positioning of overlay
  width: 100%;
  min-height: 100vh;
  background: $main; // Your main background color as fallback
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; // Ensure the overlay doesn't overflow
  
  
  /* Particles canvas styles */
  .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important;
  }

  /* Transparent overlay with background image */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/nebula.jpeg'); /* Path to your overlay image */
    opacity: 0.5; /* Adjust opacity as needed */
    z-index: 1; /* Place overlay above the background */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header {
  position: relative; /* Ensure position relative for z-index stacking */
  z-index: 2; /* Place header above the overlay */
  text-align: center;
  color: #FFF;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #FFF;
    @media only screen and (min-width: $cut) {
      font-size: 100px;
    }
  }

  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 10px;
    @media only screen and (min-width: $cut) {
      font-size: 40px;
    }
  }
}

.header-links {
  margin: 10px;

  .link {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;

    @media only screen and (min-width: $cut) {
      font-size: 20px;
    }
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  text-align: center;

  .icon {
    text-align: center;
    color: #a5e8ffe9;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #19b3e7db;
    transition: all .7s;

    &:hover,
    &:active {
      color: $main;
      background: #FFF;
    }

    @media only screen and (min-width: $cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;

  .icon {
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    animation: pulse 1.3s infinite;

    &:hover,
    &:active {
      color: $sec;
    }
  }
}