<div id="particles-js">
  <video autoplay muted loop playsinline id="headerVideo">

    <source src="/assets/mp4/header.mp4" type="video/mp4">
    
    Your browser does not support the video tag.
    
    </video>    
    <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">Available Custom ChatGPT4o Bot Demo's</span>
      </h1>
      <!-- Adding the top text section below the Botpress marketplace line -->
      <div class="top-text-section">
        Creative | Content | Business | Tools
      </div>
  
      <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="#"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="#"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="{{ site.baseurl }}/">Home</a>
        <a class="link" href="{{ site.baseurl }}/crypto.html">Crypto</a>
      </div>
      <nav>
        <ul>
        </ul>
      </nav>
    </div>
    <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Delay the scroll by 2 seconds (2000 milliseconds)
      setTimeout(function() {
        const projectsSection = document.querySelector('#projects');
        if (projectsSection) {
          // Smooth scroll with a 1000ms (1 second) duration
          projectsSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
      }, 300); // Adjust the delay as needed (2000ms = 2 seconds)
    });
  </script>
  
  
  
  <style>
    /* Custom CSS for the top text section */
    .top-text-section {
      text-align: center;
      font-size: 0.85em; /* Adjust the font size as needed */
      margin: 10px 0; /* Adjust the margin as needed */
      font-weight: normal; /* Adjust the font weight as needed */
    }

    #headerVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -2;
    pointer-events: none;
  }

  /* Transparent overlay on top of video */
  #particles-js::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 55, 91, 0.366); /* Adjust transparency here */
    pointer-events: none; /* Ensure the overlay does not interfere with interactions */
    z-index: 1; /* Ensure the overlay is above the video but below content */
  }
  

  </style>
  