<div class="mini-carousel-item" id="techItem">
    <div class="tradingview-mini-carousel-item__widget">
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
                "interval": "30m",
                "width": "100%",
                "isTransparent": false,
                "height": "90%",
                "symbol": "KUCOIN:PEPEUSDT",
                "showIntervalTabs": false,
                "displayMode": "multiple",
                "locale": "en",
                "colorTheme": "dark"
            }
        </script>
    </div>
</div>
