<div class="mini-carousel-item hidden" id="cryptoBotItem">
    <div id="cryptoBotContainer" class="fixed-widget-container">
        <script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
        <script src="https://mediafiles.botpress.cloud/1a15df0f-5878-48bc-9660-f1de4cca2d4b/webchat/config.js" defer></script>
        <script>
            window.botpressWebChat.onEvent(
                function () {
                    window.botpressWebChat.sendEvent({ type: "show" });
                },
                ["LIFECYCLE.LOADED"]
            );
        </script>
    </div>
</div>
