<div class="mini-carousel-item hidden" id="cryptoBotItem">
    <div id="cryptoBotContainer" class="fixed-widget-container">  
        <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
        <script src="https://files.bpcontent.cloud/2024/10/20/22/20241020224647-JFPN027Z.js"></script>
        <script>
            window.botpressWebChat.onEvent(
                function () {
                    window.botpressWebChat.sendEvent({ type: "show" });
                },
                ["LIFECYCLE.LOADED"]
            );
        </script>
    </div>
</div>
