<div class="mini-carousel-item hidden" id="cryptoBotItem">
    <div id="cryptoBotContainer" class="fixed-widget-container">
        <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
        <script src="https://mediafiles.botpress.cloud/2261a80e-d1f3-48df-b858-8bb57e46b936/webchat/config.js" defer></script>
        <script>
            window.botpressWebChat.onEvent(
                function () {
                    window.botpressWebChat.sendEvent({ type: "show" });
                },
                ["LIFECYCLE.LOADED"]
            );
        </script>
    </div>
</div>
