<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="cwrUjb5cLEe0UtKVAJcmuAjxKL70S_pg_SnJGw0WM4s" />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NSMC9NWY0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NSMC9NWY0H');
</script>
    <style>

        /* Ensure all child elements are above the overlay */
        body > * {
            position: relative;
            z-index: 2;
        }
    </style>
</head>
<body>
    </section>
    <section id="editor-container">
        {% include codeBlockLayout.html %}
    </section>
</body>
</html>
