<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Analysis</title>
</head>
<body>
    <!-- Header Section -->
    <header class="crypto-header">
    </header>
        <!-- Technical Analysis Section -->
        <section class="crypto-tech-section">
            <div id="chartContainer" class="chart-container">
                {% include chart.html %}
            </div>
        </section>
    </main>
</body>
</html>

