<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page with Iframe</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: #1e1e1e;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    iframe {
      width: 80%;
      height: 80%;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
    <div class="bot-container">
        {% include pineWidget.html %}
    </div>
</body>
</html>
